html {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

#introduction {
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  width: 70%;
}


.align-right {
  display: flex;
  justify-content: flex-end;
}

form.login .align-right {
  display: flex;
  justify-content: flex-end;
  float: right;
}

section.catalog-filter {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 10px;
  /* padding-left: 10px; */
}

section.tiles {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 400px 350px;
  grid-template-rows: repeat(auto-fill, minmax(350px, 1fr));
  padding-right: 20px;
  padding-left: 10px;
  text-decoration: none;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 400px;
  height: 350px;
  margin: auto;
  text-align: center;
  font-family: arial;
  justify-content: center;
  text-decoration: none;
}

.card a {
  text-decoration: none;
}

.card h1 {
  font-size: 18px;
  text-decoration: none;
}

.card h2 {
  font-size: 15px;
  font-style: italic;
  text-decoration: none;
}

.card h3 {
  font-size: 12px;
  text-decoration: none;
}

.align-block {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 60px;
}

section.filter .radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

section.filter form {
  display: inline-block;
}

section.filter form div {
  margin: 6px 0;
}

section.filter #filter-submit {
  margin: 8px 0;
}

.login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 10px;
  margin: 10px;
}

#login-header {
  text-align: center;
}

section.login .form-label,
form.edit .form-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 4px;
}

#plant-genus-name,
#plant-colloquial-name,
#plant-class {
  text-align: center;
}

#details-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  width: 70%;
  padding: 10px;
}

#details-flex img {
  border: 1px solid black;
  padding: 10px;
}

#details-flex div {
  padding: 10px;
  margin: 30px;
}

section.login form {
  display: inline-block;
}

.feedback {
  color: red;
}

.hidden {
  display: none;
}

#login-submit {
  margin: 8px 0;
}

#not-found-notice {
  text-align: center;
}

.catalog-img img {
  width: 100px;
  height: 75px;
}

table {
  border-spacing: 0;

  /* frame the table with a border on top and bottom */
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

table tr {
  background-color: #e6f1fa;
  ;
}

table tr:nth-child(even) {
  /* alternate row color */
  background-color: #d2e8c8;
}

/* table headers */
table th {
  text-align: left;
  font-weight: bold;

  background-color: #ffffff;
  border-bottom: 1px solid #000000;

  padding: 10px;
  top: 0px;
}

/* table cells (not header data) */
table td {
  text-align: left;
  font-weight: normal;

  padding: 8px;
  padding-right: 16px;
}

table td:last-child {
  padding-right: 0;
}

ul li {
  padding-right: 30px;
  margin: 0px;
  text-align: left;
}

.catalog-intro {
  text-align: center;
  width: 65%;
  margin: auto;
}

#add-plant h3,
#directions {
  text-align: center;
}

#add-plant form {
  display: inline-block;
}

#add-plant form div {
  margin: 6px 0;
}

#add-plant {
  width: 40%;
  margin: auto;
  margin-top: 50px;
}

.add-confirmation p,
.add-confirmation a {
  text-align: center;
  font-weight: bold;
  color: #000000;
}

#edit-plant form {
  display: inline-block;
}

#edit-plant form div {
  margin: 6px 0;
}

#edit-plant {
  width: 40%;
  margin: auto;
  margin-top: 50px;
}

.login {
  display: flex;
  flex-direction: column;
}


nav {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;

}

.nav ul li {
  margin: 0;
  padding: 10px;
  display: inline-block;
}

.nav ul li a {
  text-decoration: none;
}

#nav-logout {
  float: right;
}

.home-body {
  display: flex;
  flex-direction: column;
}



@media screen and (max-width: 600px) {
  .align-right {
    display: flex;
    justify-content: flex-end;
  }

  section.catalog-filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10px;
    padding-left: 10px;
  }

  section.tiles {
    display: flex;
    /* grid-gap: 15px;
    grid-template-columns: 400px 350px; */
    /* grid-template-rows: repeat( auto-fill, minmax(350px, 1fr) ); */
    flex-direction: column;
    padding-right: 20px;
    padding-left: 10px;
    text-decoration: none;
  }

  .login {
    display: none;
  }

  #details-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: auto; */
    width: 100%;
    padding: 0px;
  }

  #details-flex div {
    padding: 0px;
    margin: 30px;
  }

  form.login {
    width: 320px;
  }

  ul.login {
    list-style: none;
    padding: 0;
  }

  ul.login li {
    margin-bottom: 4px;
  }

  form.login .label-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px;
    padding: 10px;
  }

  form.login .label-input> :first-child {
    min-width: 140px;
    text-align: right;
    margin-right: 4px;
  }

  form.login .label-input> :last-child {
    flex-grow: 1;
    min-width: 0;
    margin: 4px;
  }

  footer {
    font-size: 4px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1100px) {
  .align-right {
    display: flex;
    justify-content: flex-end;
  }

  section.catalog-filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10px;
    padding-left: 10px;
  }


  section.tiles {
    display: flex;
    /* grid-gap: 15px;
    grid-template-columns: 400px 350px; */
    /* grid-template-rows: repeat( auto-fill, minmax(350px, 1fr) ); */
    flex-direction: column;
    padding-right: 20px;
    padding-left: 10px;
    text-decoration: none;
  }

  .login {
    display: none;
  }

  section.filter .radio {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
  }

  section.filter form {
    display: inline-flex;
    flex-direction: row;
    margin: auto;
    /* width: 70%; */
  }

  section.filter form div {
    margin: 6px 0;
  }

  section.filter #filter-submit {
    margin: 8px 0;
  }

  .filter-ipad {
    display: flex;
    flex-direction: row;
  }

  .ipad {
    display: flex;
    flex-direction: column;
  }

  #details-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    /* width: 100%; */
    padding: 0px;
  }

  #details-flex div {
    padding: 0px;
    margin: 30px;
  }

}
